# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# 正式上線才要忽略,因為現在是測驗測試用所以就不忽略
# venv/
# env/
# .env/

# SQLite 資料庫
*.db
*.sqlite3

# FastAPI / logs
*.log

# IDE / editor
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Docker
# *.env
# docker-compose.override.yml

# macOS
.DS_Store

# Node.js
frontend/README.md